
html {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



[data-theme='dark'], [data-theme='dark'] body {
  background-color: #121212;
}

[data-theme='dark'] .show-note {
  color: #d7d7d7;
}

[data-theme='dark'] h1, [data-theme='dark'] label, [data-theme='dark'] p {
  color: #d7d7d7;
}

[data-theme='dark'] .card-body {
  background-color: #d7d7d7;
}

[data-theme='dark'] .fa-sun {
  color: #fff;
}

[data-theme='dark'] .fs-5 {
  color: #212529;
}

[data-theme='dark'] span .badge {
  background-color: #0C6DFD;
  color: #fff;
}

[data-theme='dark'] .reactSelect {
  color: black;
}

[data-theme='dark'] .modal-content {
  background-color: #121212;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}